.circle {
    border-radius: 50%;
    border: 2px solid darkblue;
    background: darkblue;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 30px;
}
.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-box {
    margin-top: 40px;
}
.btn {
    padding: 10px 20px;
    background: #61dafb;
    border-radius: 5px;
    font-size: 15px;
}